<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fly.mod.app.test">

    <application>
        <activity
            android:name="fly.mod.app.test.blend.ui.TestHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.livebus.ui.LiveBusTest1Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.livebus.ui.LiveBusTest2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.coroutine.ui.CoroutineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.coroutine.ui.CoroutineTest1Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.coroutine.ui.CoroutineTest2Activity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.chart.ui.ChartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.chart.ui.CurveActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.chart.ui.ProgressCellActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.recyclerview.ui.RecyclerViewDecorationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
        <activity
            android:name="fly.mod.app.test.blend.ui.MultiEditTextActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:taskAffinity="" />
    </application>
</manifest>